@import "tailwindcss";

@theme inline {
  --color-surface: #0e0e0e;
  --color-surface-dim: #0e0e0e;
  --color-surface-bright: #2c2c2c;
  --color-surface-container: #1a1919;
  --color-surface-container-low: #131313;
  --color-surface-container-high: #201f1f;
  --color-surface-container-highest: #262626;
  --color-surface-container-lowest: #000000;
  --color-surface-variant: #262626;
  --color-surface-tint: #8ff5ff;

  --color-primary: #8ff5ff;
  --color-primary-dim: #00deec;
  --color-primary-fixed: #00eefc;
  --color-primary-fixed-dim: #00deec;
  --color-primary-container: #00eefc;
  --color-on-primary: #005d63;
  --color-on-primary-fixed: #003f43;
  --color-on-primary-container: #005359;
  --color-on-primary-fixed-variant: #005e64;
  --color-inverse-primary: #006a71;

  --color-secondary: #c3f400;
  --color-secondary-dim: #b7e500;
  --color-secondary-fixed: #c3f400;
  --color-secondary-fixed-dim: #b7e500;
  --color-secondary-container: #506600;
  --color-on-secondary: #455900;
  --color-on-secondary-fixed: #354500;
  --color-on-secondary-container: #efffbc;
  --color-on-secondary-fixed-variant: #4e6300;

  --color-tertiary: #70aaff;
  --color-tertiary-dim: #5c9ffc;
  --color-tertiary-fixed: #80b2ff;
  --color-tertiary-fixed-dim: #65a4ff;
  --color-tertiary-container: #599cf9;
  --color-on-tertiary: #002a55;
  --color-on-tertiary-fixed: #001835;
  --color-on-tertiary-container: #001d3f;
  --color-on-tertiary-fixed-variant: #003971;

  --color-on-surface: #ffffff;
  --color-on-surface-variant: #adaaaa;
  --color-on-background: #ffffff;
  --color-background: #0e0e0e;
  --color-inverse-surface: #fcf8f8;
  --color-inverse-on-surface: #565554;
  --color-outline: #777575;
  --color-outline-variant: #494847;

  --color-error: #ff716c;
  --color-error-dim: #d7383b;
  --color-error-container: #9f0519;
  --color-on-error: #490006;
  --color-on-error-container: #ffa8a3;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-on-primary-fixed);
}

.glass {
  background: rgba(44, 44, 44, 0.4);
  backdrop-filter: blur(12px);
}

.neon-glow {
  text-shadow: 0 0 15px rgba(0, 229, 255, 0.4);
}
